<script type="application/ld+json" class="schema-graph">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebPage",
        "@id": "{{.SiteUrlPage}}",
        "url": "{{.SiteUrlPage}}",
        "name": "{{.Title}}",
        "isPartOf": { "@id": "{{.layoutData.FrontEndUrl}}" },
        "primaryImageOfPage": { "@id": "{{.Thumbnail}}" },
        "image": { "@id": "{{.Thumbnail}}" },
        "thumbnailUrl": "{{.Thumbnail}}",
        "datePublished": "{{.PublishAt}}",
        "dateModified": "{{.ModifiedAt}}",
        "description": "{{.Description}}",
        "inLanguage": "id-ID",
        "potentialAction": [{ "@type": "ReadAction", "target": ["{{.layoutData.FrontEndUrl}}"] }]
      },
      {
        "@type": "ImageObject",
        "inLanguage": "id-ID",
        "@id": "{{.Thumbnail}}",
        "url": "{{.Thumbnail}}",
        "contentUrl": "{{.Thumbnail}}",
        "width": 200,
        "height": 200
      },
      {
        "@type": "BreadcrumbList",
        "@id": "{{.layoutData.FrontEndUrl}}/#breadcrumb",
        "itemListElement": [{ "@type": "ListItem", "position": 1, "name": "Home" }]
      },
      {
        "@type": "WebSite",
        "@id": "{{.layoutData.FrontEndUrl}}",
        "url": "{{.layoutData.FrontEndUrl}}",
        "name": "{{.Title}}",
        "description": "{{.Description}}",
        "publisher": { "@id": "{{.layoutData.FrontEndUrl}}/author/admin" },
        "potentialAction": [
          {
            "@type": "SearchAction",
            "target": { "@type": "EntryPoint", "urlTemplate": "{{.layoutData.FrontEndUrl}}/news?s={search_term_string}" },
            "query-input": "required name=search_term_string"
          }
        ],
        "inLanguage": "id-ID"
      },
      {
        "@type": "Organization",
        "@id": "{{.layoutData.FrontEndUrl}}/#organization",
        "name": "{{.SiteName}}",
        "url": "{{.layoutData.FrontEndUrl}}",
        "logo": {
          "@type": "ImageObject",
          "inLanguage": "id-ID",
          "@id": "{{.layoutData.FrontEndUrl}}",
          "url": "{{.layoutData.Logo}}",
          "contentUrl": "{{.layoutData.Logo}}",
          "width": 135,
          "height": 35,
          "caption": "{{.SiteName}}"
        },
        "image": { "@id": "{{.layoutData.Logo}}" }
      }
    ]
  }
</script>
