<style>
  .isi-kampanye {
    font-size: 16px;
    line-height: 1.5;
  }
  .title-kampanye {
    font-weight: bold;
  }

  .row {
    display: flex;
  }

  .col-md-6 {
    flex: 1;
  }

  .d-flex {
    display: flex;
  }

  .align-items-center {
    align-items: center;
  }

  .iframe__content {
    margin-top: 20px;
  }

  .iframe__content h3 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: 10px;
    letter-spacing: 0.2px;
  }

  .iframe__content p {
    color: var(--primarytext, #555);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
</style>
<div class="mt-100">
  <div class="container py-5">
    <div class="row mt-100">
      <div class="col-md-6 p-3" data-aos="fade-right" data-aos-delay="500">
        <div
          class="embed-responsive embed-responsive-1by1"
          style="
            width: 450px;
            border-radius: 20px;
            background: #f4f4f4;
            height: 300px;
          "
        >
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/jRJWJ7ESZu8"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-md-6 iframe__content align-items-center">
        <div
          style="
            border-radius: 20px;
            text-align: center;
            width: 40px;
            height: 40px;
            padding: 3px;
            background-color: #EEEAE7;
            position: relative;
          "
          data-aos="fade-left"
          data-aos-delay="600"
        >
          <span style="color: #000000;font-weight: 700;">1</span>
        </div>
        <h3 data-aos="fade-left" data-aos-delay="700">
          Ubah Wawasan Bisnis Menjadi Tindakan
        </h3>
        <p data-aos="fade-left" data-aos-delay="800">
          memiliki akses ke lebih dari 160 juta data pengguna smartphone yang
          dilengkapi dengan kepatuhan privasi (user consent). Melalui ini kami
          membantu para profesional di pemerintahan, perusahaan, dan organisasi
          nirlaba untuk membuat keputusan cerdas sambil mendapatkan hasil yang
          lebih tinggi. Tambahkan data latar belakang kami yang komprehensif
          untuk memperkuat pijakan Anda dalam kompetisi.
        </p>
      </div>
    </div>

    <div class="row mt-100">
      <div class="col-md-6 iframe__content align-items-center">
        <div
          style="
            border-radius: 20px;
            text-align: center;
            width: 40px;
            height: 40px;
            padding: 3px;
            background-color: #EEEAE7;
            position: relative;
          "
          data-aos="fade-left"
          data-aos-delay="600"
        >
          <span style="color: #000000;font-weight: 700;">2</span>
        </div>
        <h3 data-aos="fade-left" data-aos-delay="700">
          Geomarketing
        </h3>
        <p data-aos="fade-left" data-aos-delay="8000">
          Jelajahi kasus penggunaan intelijen lokasi kami untuk mendukung
          strategi digital unggulan merek, meningkatkan kemampuan kompetitifnya
          dalam iklim yang kompetitif.
        </p>
      </div>

      <div class="col-md-6 p-3" data-aos="fade-right" data-aos-delay="500">
        <div
          class="embed-responsive embed-responsive-1by1"
          style="
            width: 450px;
            border-radius: 20px;
            background: #f4f4f4;
            height: 300px;
          "
        >
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/HtTuYG2jgy8"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="row mt-100">
      <div class="col-md-6 p-3" data-aos="fade-right" data-aos-delay="500">
        <div
          class="embed-responsive embed-responsive-1by1"
          style="
            width: 450px;
            border-radius: 20px;
            background: #f4f4f4;
            height: 300px;
          "
        >
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/yVcBjSMwOcs"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-md-6 iframe__content align-items-center">
        <div
          style="
            border-radius: 20px;
            text-align: center;
            width: 40px;
            height: 40px;
            padding: 3px;
            background-color: #EEEAE7;
            position: relative;
          "
          data-aos="fade-left"
          data-aos-delay="600"
        >
          <span style="color: #000000;font-weight: 700;">3</span>
        </div>
        <h3 data-aos="fade-left" data-aos-delay="700">
          OOH Insight
        </h3>
        <p data-aos="fade-left" data-aos-delay="800">
          Kecerdasan dunia nyata dalam media OOH dapat membantu media bersaing
          dengan saluran digital seperti tampilan, media sosial, dan Multimedia.
          Di sini, di MD Media, kami membantu beberapa perusahaan OOH terkemuka
          untuk menyelesaikannya.
        </p>
      </div>
    </div>

    <div class="row mt-100">
      <div class="col-md-6 iframe__content align-items-center">
        <div
          style="
            border-radius: 20px;
            text-align: center;
            width: 40px;
            height: 40px;
            padding: 3px;
            background-color: #EEEAE7;
            position: relative;
          "
          data-aos="fade-left"
          data-aos-delay="600"
        >
          <span style="color: #000000;font-weight: 700;">4</span>
        </div>
        <h3 data-aos="fade-left" data-aos-delay="700">
          Covid Handling Management
        </h3>
        <p data-aos="fade-left" data-aos-delay="800">
          Jelajahi kasus penggunaan intelijen lokasi kami untuk mendukung
          strategi digital unggulan merek, meningkatkan kemampuan kompetitifnya
          dalam iklim yang kompetitif.
        </p>
      </div>

      <div class="col-md-6 p-3" data-aos="fade-right" data-aos-delay="500">
        <div
          class="embed-responsive embed-responsive-1by1"
          style="
            width: 450px;
            border-radius: 20px;
            background: #f4f4f4;
            height: 300px;
          "
        >
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/LFl7tt-j_N8"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function getGeoTitle() {
    var url = API_URL + "/v1/landing-page/feature";

    $.get(url, function (res) {
      var fitur = "";

      $.each(res.data, function (index, item) {
        if (item.flag === "dc2") {
          fitur += `
        <div class="col-md-5 mb-3">
        <div class="card rounded p-3"style="height: 290px;" >
          <img src="${item.image}" alt="${item.title}"  style="height: 48px; width: 48px; left: 0px; top: 0px" />
          <span class="hero-card-title">${item.title}</span>
          <span class="hero-card-desc">
            ${item.description}
          </span>
        </div>
      </div>
      
        `;
        }
      });
      $("#headerFeatur").html(fitur);
    });
  }

  function getListFitur() {
    var link = API_URL + "/v1/landing-page/feature";

    $.get(link, function (res) {
      var list = "";

      $.each(res.data, function (index, item) {
        var dataAos = index % 2 === 0 ? "fade-right" : "fade-left";
        if (item.flag === "dc") {
          list += `
          
          <div class="col-md-4 mt-5">
          <div class="card p-3 shadow rounded-md" style="height: 294px" >
            <img src="${item.image}" alt="" width="48" height="48" class="rounded-lg" />
            <span class="title-kampanye">${item.title}</span>
            <p class="isi-kampanye">
              ${item.description}
            </p>
          </div>
        </div>

          `;
        }
      });
      $("#listFitur").html(list);
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    getGeoTitle();
    getListFitur();
  });
</script>
