
    
    <style>
        .bg-company{
        background-color:  #5f12ad;
      }
      .breadcrumb {
      background-color: transparent; 
      font-family: Poppins;
      color: #121212;
      font-weight: 500;
      font-size: 17px;
      margin-left: -14px !important;
    }
    
    .breadcrumb-item {
      background-color: transparent;
    }
    
    .breadcrumb li.active a {
      color: blue; 
    }

    .category__news_list {
    color: #616161;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    margin-top: -15px;
  }

  .list__berita_news {
    color: #022b55;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    font-size: 13px !important;
  }
  .list__category{
    color: #121212;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;
  } 

  #list_tag {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
  }

  .card__tags {
    text-decoration: none;
    color: #000; 
  }

  .card {
    background-color: transparent; 
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    font-family: Poppins;
  }

    </style>


  <main>
    <div class="preloader">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="container py-2" style="margin-top: 100px">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" id="breadcrumb">
          
          </ol>
        </nav>
        <div class="row">
        <div class="col-md-8">
          <div class="mb-5">
            
            <h3 style="font-weight: 600;color: #022b55; font-size: 29px; line-height: 42px; font-family:Poppins" id="title">{{.Title}}</h3>
            <div class="row mt-5 px-3" style="justify-content: space-between">
              <div>
                <h3 style="font-weight: 600; font-size: 20px; color: #121212;" id="author">{{.Author}}</h3>
                <p style="font-weight: 500; font-size: 16px; color: #121212;" id="create_at">{{.CreatedAt}}</p>
              </div>
              <div style="color: #121212;font-family: Poppins;font-size: 16px" class="row">
                <span >Bagikan Ke : </span>
              <div class="mr-3">
                <a href="#" class="mx-1" onclick="shareToFacebook()"><img src="/assets/images/fb.svg" alt="Facebook" /></a>
                <a href="#" class="mx-1" onclick="shareToWhatsApp()"><img src="/assets/images/whatsapp.svg" alt="WhatsApp" /></a>
                <a href="#" class="mx-1" onclick="shareToTwitter()"><img src="/assets/images/twitter.svg" alt="Twitter" /></a>
                <a href="#" class="mx-1" onclick="shareToInstagram()"><img src="/assets/images/instagram.svg" alt="Instagram" /></a>
                <a href="#" class="mx-1" onclick="copyURL()" data-toggle="popover" data-placement="bottom" data-content="URL telah disalin!" data-trigger="manual"><img src="/assets/images/link.svg" alt="Copy URL" /></a>
              </div>
               <div style="font-size: 16px;font-weight: 500;line-height:18px;margin-right: 5px;"class="mr-3" > <span style="display: block;text-align: center;">{{.Shared}}</span>
                <span>dibagikan</span></div>
            </div>
            </div>
            <div class="mt-3" >
              <img src="`{{.Thumbnail}}`" alt="{{.Title}}" class="thumbnail img-fluid rounded-lg shadow" style="width: 100%;"/>
              <div >
                  <span style="font-size: 14px; font-style: italic;font-family: Poppins;line-height: 10px;">{{.Description}}</span>
              </div>
            </div>
            <div class="mt-5" style="text-align: justify">
              <p style="font-family: 'Plus Jakarta Sans'; font-style: normal; font-weight: 400; font-size: 15px" id="description">
                {{.Body}}
              </p>
            </div>
            <div class="mt-3 ">
              <hr style="height: 2px;color: #121212;">
              <!-- <a href="/wawasan" class="btn btn-daftar">Kembali Ke Wawasan</a> -->
              <span style="font-size: 16px;font-weight: 600;font-family: Poppins; color: #121212;">Tags berita :</span>
              <div id="list_tag" class="mt-3">

              </div>
            </div>
          </div>
         </div>
         <div class="col-md-4">
          <div >
            <span style="font-family: Poppins; font-weight: 600;color: #121212;"
              >Berita Terbaru</span
            >
            <hr
              style="
                height: 3px;
                border: 0;
                background: linear-gradient(to right, #460a83 50%, #7c7d8a 50%);
              "
            />
            <div id="news_category"></div>
          </div>

          <div class="mt-100">
            <span style="font-family: Poppins; font-weight: 600;color: #121212;"
              >Kategori Terpopuler</span
            >
            <hr
              style="
                height: 3px;
                border: 0;
                background: linear-gradient(to right, #460a83 50%, #7c7d8a 50%);
              "
            />
            <div id="category_populer"></div>
          </div>

        </div>
      </div>
      </div>
      

      <footer class="site-footer">
       
        <div class="site-footer__upper">
          <div class="container">
            <div class="row" >
              <div class="col-lg-3">
                <div class="footer-widget footer-widget__about">
                  <a class="footer-widget__logo" href="/"><img src="{{.layoutData.FrontEndUrl}}/assets/images/polintar/logo-landing.png" height="35" alt="logo" /></a>
                  <p id="sloganWebsite"></p>
                  <p> 
                    <a href="" onclick="openNewWindow(); return false;" id="emailWebsites"></a><br/>
                    <a href="" name="phoneSite" id="phoneSite"></a>
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row" id="footer">
                    
                </div>
              </div>
              <div class="col-lg-3">
                <div class="footer-widget footer-widget__about">
                  <h3 class="footer-widget__title">Pembayaran</h3>
                  <div class="footer-widget__links-wrap">
                   <img src="https://politikpintar.id/api/assets/uploads/1/2023-06/1686118779.png" alt="Pembayaran" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="site-footer__bottom"> <hr style="border-color: #e8e8e8;">
          <div class="container text-white" style="text-align: center;font-family: Poppins; font-size: 15px;">
           
            <p>copyright©2023 by {{.layoutData.FrontEndUrl}} - All Right Reserved.</p>
          </div>
        </div>
        
      </footer>
    </div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <div class="side-menu__block">
      <div class="side-menu__block-overlay custom-cursor__overlay">
          <div class="cursor"></div>
          <div class="cursor-follower"></div>
      </div>
      <div class="side-menu__block-inner ">
          <div class="side-menu__top justify-content-end">
              <a href="#" class="side-menu__toggler side-menu__close-btn"><img src="assets/images/shapes/close-1-1.png" alt=""></a>
          </div>
          <nav class="mobile-nav__container">
          </nav>
      </div>
  </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.bxslider.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>

      const Tags = "{{.Tags}}"

      const Thumbnail = "{{.Thumbnail}}";
      
      const imageElement = document.querySelector(".thumbnail");
      
      imageElement.src = Thumbnail;

      const TagsArray = Tags.split(", ");

      function createTagCard(tag) {
          return `
              <a href="/news-tags/${tag}" class="card__tags"><div class="card px-3 py-0">${tag}</div> </a>
          `;
      }

      const listTagsElement = document.getElementById("list_tag"); // Corrected the ID to "list_tag".

      let tagsCard = "";

      TagsArray.forEach(function (tag) {
          tagsCard += createTagCard(tag);
      });

      listTagsElement.innerHTML = tagsCard;
      
      const newsTitle = "{{.Title}}";
      const categoryName = "{{.CategoryName}}";
      const categoryId = "{{.CategoryId}}";
      
      const breadcrumbElement = document.getElementById("breadcrumb");
      
      const homeBreadcrumb = document.createElement("li");
      homeBreadcrumb.classList.add("breadcrumb-item");
      homeBreadcrumb.innerHTML = '<a href="/wawasan">News</a>';
      breadcrumbElement.appendChild(homeBreadcrumb);
      
      const newsCategoryBreadcrumb = document.createElement("li");
      newsCategoryBreadcrumb.classList.add("breadcrumb-item");
      newsCategoryBreadcrumb.innerHTML = `<a href="/news-category/${categoryId}">${categoryName}</a>`;
      breadcrumbElement.appendChild(newsCategoryBreadcrumb);
      


      function ListCategory() {
        var url = API_URL + `/v1/landing-page/news?limit=15&page=1` 
        var urlCategory = API_URL + `/v1/landing-page/news/category?limit=10`;
    var categoryHTML = "";

    $.get(url, function (res) {
      $.each(res.data, function (index, categoryItem) {
        categoryHTML += `
            <div class="d-flex mt-3" style="align-items: center;">
              <a href="/news/${categoryItem.category.name}/${categoryItem.slug}" style="display: inline-block; vertical-align: top;">
                <img src="${categoryItem.image}" alt="${categoryItem.title}" width="80px" height="60px" style="float: left; margin-right: 10px; border-radius: 5px;" />
              </a>
              <div style="display: inline-block; vertical-align: top;" class="ml-4">
                <h4 class="list__berita_news" style="font-size: 9px; font-family: Poppins; margin: 0;">
                  <a href="/news/${categoryItem.category.name}/${categoryItem.slug}">${categoryItem.title}</a>
                </h4>
                <span class="category__news_list">${categoryItem.category.name}</span>
              </div>
            </div>
          `;
      });
      $("#news_category").html(categoryHTML);
    });

    // $.get(url, function(res){
    //   $.each(res.data, function(tags){
    //     tagsCard += `
    //       <div class="card px-2 py-1"><span></span></div>
    //     `
    //   })
    //   $("#list_tags").html(tagsCard);
    // })

     
    $.get(urlCategory, function (response) {
      var list_category = "";

      
      $.each(response.data, function (index, item) {
        var categoryNumber = index + 1;
        list_category += `
        <a style="text-decoration:none" class="list__category" href="/news-category/${item.id}"> <div  class=" px-3 card__category ">#${categoryNumber}  ${item.name}</div></a>
        `;
      });
      $("#category_populer").html(list_category);
    });

  }

  
  document.addEventListener("DOMContentLoaded", function () {
    ListCategory();
  });
      </script>
      
      <script>
        var currentURL = new URL(window.location.href);
        var title = "{{.Title}}";
        var articleURL = encodeURIComponent(currentURL);
      
        function getAuthor() {
          var newsUrl = API_URL + `/v1/landing-page/news/${id}`;
          $.get(newsUrl, function (res) {});
        }

        
    function SharedNews(id){
        var url = API_URL + "/v1/landing-page/news/count-share/"+ id;

        fetch(url, {
            method: "PUT",
            headers: {
            "Content-Type": "application/json",
            },
        })
            .then((response) => response.json())
            .then((data) => {
            console.log(data);
            })
            .catch((error) => {
            console.error("Error:", error);
            });
    }
      
        function shareToFacebook() {
          var shareURL = "https://www.facebook.com/sharer/sharer.php?u=" + articleURL;
          window.open(shareURL, "_blank");
          SharedNews(IdNews)
        }
      
        function shareToWhatsApp() {
          var shareText =  title  + " Lihat selengkapnya : " + articleURL;
          var shareURL = "https://api.whatsapp.com/send/?text=" + shareText;
          window.open(shareURL, "_blank");
          SharedNews(IdNews)
        }
      
        function shareToTwitter() {
          var shareURL = "https://twitter.com/intent/tweet?text=" + articleURL;
          window.open(shareURL, "_blank");
          SharedNews(IdNews)
        }
      
        function shareToInstagram() {
          var shareURL = "https://www.instagram.com/?url=" + articleURL;
          window.open(shareURL, "_blank");
          SharedNews(IdNews)
        }
      
        function copyURL() {
          var dummyElement = document.createElement("textarea");
          dummyElement.value = window.location.href;
          document.body.appendChild(dummyElement);
          dummyElement.select();
          document.execCommand("copy");
          document.body.removeChild(dummyElement);
      
          $('[data-toggle="popover"]').popover("show");
          setTimeout(function () {
            $('[data-toggle="popover"]').popover("hide");
          }, 2000);
        }
      </script>
      
    <script>
      AOS.init();
      $(function(){
        
      })

      function openNewWindow() {  
        var link = API_URL + '/v1/site-config/all';
       $.get(link, function(res){
        var email = res.data.find(function(item) {
              return item.property === 'email';
          });

        var url = `https://mail.google.com/mail/?view=cm&fs=1&to=${email.content}&su=Konsultasi%20Online&body=Silahkan%20tulis%20keluhan%20anda`;
        var windowWidth = 800;
        var windowHeight = 600;
        var windowFeatures = 'width=' + windowWidth + ',height=' + windowHeight + ',resizable=yes,scrollbars=yes';
      
        window.open(url, '_blank', windowFeatures);
       })
      }

      
      
      $(function() {
        var url = API_URL + `/v1/landing-page/footer/all`;
        $.get(url, function (res) {
          var footer = "";
          $.each(res.data, function(index, item) {
          var menuItems = "";
          $.each(item.children, function(childIndex, childItem) {
          const image = childItem.image ? `<img src="${childItem.image}" alt="${childItem.title}" width="18px" height="100%"/>` : "";
          menuItems += `<li style="display:flex">${image}<a href="${childItem.link}" class="mx-1">${childItem.title}</a></li>`;
        });

        footer += `
          <div class="col-lg-4">
            <div class="footer-widget footer-widget__links">
              <h3 class="footer-widget__title">${item.title}</h3>
              <div class="footer-widget__links-wrap" style="width:15rem">
                <ul class="list-unstyled">
                  ${menuItems}
                </ul>
              </div>
            </div>
          </div>
        `;
       });

    $("#footer").html(footer);
  });
      })


      $(function () {
        var currentPath = window.location.pathname;
        if (currentPath != "/") {
          $("#header-nav").css("background", "var(--thm-black)");
        }
        var u = cekLogedIn();
        if (u.state === undefined || u.state.value.user === undefined) {
          setLogout()
        }
        if (u.state.value.user !== undefined) {
          cekMe(u);
          setLogin();
        }
      });
      
      function setLogin(){
        var u = cekLogedIn();
        var user = u.state.value.user;
        var userHtm = `<span class="mx-2">${user.fullname}</span><i class="fa fa-user"></i>`;
        $(".btnDropUser").html(userHtm);
        $(".btnSignIn").removeClass("d-none").addClass("d-block");
        $(".btnSignUp").removeClass("d-block").addClass("d-none");
        $("#langDemo").removeClass("d-flex").addClass("d-none");
      }

      const localStorageData = localStorage.getItem('telin-auth');

      const parsedData = JSON.parse(localStorageData);

      const accessToken = parsedData?.state.value.accessToken;

      function setLogout() {
        fetch(API_URL + "/v1/auth/signout", {
          method: "POST",
          headers: {
            "Authorization": accessToken,
          },
        })

        logOut();
        $(".btnSignUp").removeClass("d-none").addClass("d-block");
        $(".btnSignIn").addClass("d-none").removeClass("d-block");
      }

      function cekMe(user) {
        fetch(API_URL + "/v1/auth/me", {
          method: "GET",
          headers: {
            Authorization: user.state.value.accessToken,
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if(data.status != 200){
              setLogout();
            }
          })
          .catch((error) => {});
      }

    </script>
  </main>
</html>







