<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <meta property="og:image" content="{{.layoutData.FrontEndUrl}}/assets/images/polintar/logo.png" />
    <meta property="og:image:secure_url" content="{{.layoutData.FrontEndUrl}}/assets/images/polintar/logo.png" />
    <meta name="theme-color" content="{{.Color}}" />

    <meta name="author" content="{{.Author}}"/>
    <title id="titleWebsite">{{.Title}}</title>
    <link rel="icon" type="image/png" sizes="96x96" href="{{.layoutData.FrontEndUrl}}/assets/images/menangpol/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="  {{.layoutData.FrontEndUrl}}/assets/images/menangpol/favicon-16x16.png" />

    <link rel="stylesheet" href="/assets/css/style-menangpol.css" />
    <link rel="stylesheet" href="/assets/css/menangpol.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <script src="/assets/js/common.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />

    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script>
      var SITE_URL = "{{.SiteUrl}}";
      var API_URL = "{{.layoutData.ApiUrl}}";
    </script>
    <title>Reset Password | Menangpol</title>

    <style>
      .btn_reset{
        background-color: #121212;
        width: 100%;
        color: #fff;
        border: 1px solid #121212;
      }
      .btn_reset:hover{
        background-color: #fff;
        border: 1px solid #121212;
        color: #121212;
      }
    </style>
  </head>
  <body>
    {{template "components/alert" .}}
    <div class="wrapper">
      <div class="container mt-md-4 row pt-5 mx-auto">
        <div class="col-md-6" data-aos="fade-right">
          <img class="img-fluid" src="{{.layoutData.FrontEndUrl}}/assets/images/menangpol/forgot-password.svg" alt="" width="705px" height="673px" />
        </div>
        <div class="col-md-5 pl-md-5 pt-md-2" data-aos="fade-left" data-aos-delay="300">
          <div class="card mt-5" style="max-width: 390px; background-color: #ffffff; border-radius: 12px; padding: 32px 40px 32px 40px; ">
            <img src="{{.layoutData.FrontEndUrl}}/assets/images/menangpol/logo.png" alt="Menangpol"  height="75" />
            <h3 class="title-login" style="color: #121212;text-align: left; margin-top: 30px;">Reset Password</h3>
            <div style="margin-top: 30px">
              <div style="align-items: center">
                <div style="align-items: center">
                  <span
                    style="font-family: 'Poppins'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 140%; color: #1e3864"
                    id="password"
                    >Sandi baru </span
                  >
                  <div class="position-relative">
                    <input
                      type="password"
                      class="form-control my-2"
                      id="password-input"
                      placeholder="(min. 8 character)"
                      aria-label="Username"
                      aria-describedby="password"
                    />
                    <span
                      class="toggle-password"
                      onclick="togglePasswordVisibility()"
                      style="margin-left: 17rem; margin-top: -38px; cursor: pointer; position: absolute; right: 10px"
                    >
                      <i class="fas fa-eye"></i>
                    </span>
                    <p id="passwordError" style="color: red"></p>
                  </div>
                </div>

                <div style="align-items: center">
                  <span
                    style="font-family: 'Poppins'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 140%; color: #1e3864"
                    id="password"
                    >Konfirmasi Sandi baru </span
                  >
                  <div class="position-relative">
                    <input
                      type="password"
                      class="form-control my-2"
                      id="confirm-password-input"
                      placeholder="Konfirmasi Sandi Baru"
                      aria-label="Username"
                      aria-describedby="password"
                    />
                    <span
                      class="toggle-password-confirm"
                      onclick="togglePasswordConfirm()"
                      style="margin-left: 17rem; margin-top: -38px; cursor: pointer; position: absolute; right: 10px"
                    >
                      <i class="fas fa-eye"></i>
                    </span>
                    <p id="confirmPasswordError" style="color: red"></p>
                  </div>
                </div>

              <div class="mt-5">
                <button class="btn btn_reset" onclick="resetPassword()" id="loginBtn">Ubah Kata Sandi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/assets/js/common.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();

  var newPassword = document.getElementById("confirm-password-input");

  newPassword.addEventListener("keyup", function (event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      resetPassword();
    }
  });

  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password-input");
    var togglePassword = document.querySelector(".toggle-password");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      togglePassword.innerHTML = '<i class="fas fa-eye-slash"></i>';
    } else {
      passwordInput.type = "password";
      togglePassword.innerHTML = '<i class="fas fa-eye"></i>';
    }
  }

  function togglePasswordConfirm() {
    var passwordInput = document.getElementById("confirm-password-input");
    var togglePassword = document.querySelector(".toggle-password-confirm");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      togglePassword.innerHTML = '<i class="fas fa-eye-slash"></i>';
    } else {
      passwordInput.type = "password";
      togglePassword.innerHTML = '<i class="fas fa-eye"></i>';
    }
  }


  function resetPassword() {
  var passwordInput = document.getElementById("password-input");
  var confirmPasswordInput = document.getElementById("confirm-password-input");
  var passwordError = document.getElementById("passwordError");
  var confirmPasswordError = document.getElementById("confirmPasswordError");

  var password = passwordInput.value;
  var confirmPassword = confirmPasswordInput.value;
  var urlParams = new URLSearchParams(window.location.search);
  var token = urlParams.get("token");

  if (password.length < 8) {
    passwordError.textContent = "Password harus minimal 8 karakter";
    passwordInput.focus();
    return;
  } else {
    passwordError.textContent = "";
  }

  if (confirmPassword !== password) {
    confirmPasswordError.textContent = "Konfirmasi password tidak sesuai";
    confirmPasswordInput.focus();
    return;
  } else {
    confirmPasswordError.textContent = "";
  }

  var url = API_URL + "/v1/auth/reset-password";
  var data = {
    new_password: password,
    token: token
  };

  fetch(url, {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(data)
  })
    .then(response => {
      if (response.status === 200) {
        showAlert("success", "Password berhasil diubah");
        window.location.href = "/login";
      } else {
        showAlert("danger", "Gagal mengubah password");
      }
    })
    .catch(error => {
      showAlert("danger", "Terjadi kesalahan");
      console.error(error);
    });
}

userlog = cekLogedIn();
  if (userlog.state.value.user) {
    window.location.href = "/app/dashboard-politik";
  }

</script>
