<div
  class="hero container mt-100 pt-3 mb-5"
  style="color: #121212; font-family: Poppins;"
>
  <div>
    <h1 class="mt-3 mb-3" style="font-weight: 600; text-align: center; position: relative;margin-bottom: 15px; font-family: Poppins;">
      Syarat Dan Ketentuan
    </h1>
    
    <p>
      Selamat datang di menangpolitik.id. Ketentuan Layanan ini berisi syarat
      dan ketentuan yang mengatur penggunaan Platform kami dan Layanan kami
      serta semua konten, layanan, dan/atau produk yang tersedia di situs
      menangpolitik.id. Syarat dan Ketentuan ini mengungkapkan kegiatan dan
      syarat-syarat penggunaan situs menangpolitik.id baik halaman ini beserta
      halaman-halaman lain dalam Situs ini.
    </p>
    <p>
      HARAP BACA KETENTUAN INI DENGAN SEKSAMA. DENGAN MENDAFTAR, MENGAKSES,
      MENELUSURI, DAN/ATAU MENGGUNAKAN LAYANAN menangpolitik.id, ANDA MENYATAKAN
      BAHWA ANDA TELAH MEMBACA, MEMAHAMI, DAN SETUJU UNTUK TERIKAT OLEH
      KETENTUAN INI.
    </p>
    <p>
      Dengan menggunakan situs ini, Anda setuju dan menerima dengan persyaratan
      dan kondisi penggunaan situs Kami yang telah disediakan. Jika Anda tidak
      menyetujui dengan syarat dan kondisi, Anda dapat meninggalkan dan jangan
      mengakses, menelusuri, atau menggunakan platform atau layanan
      menangpolitik.id.
    </p>
    <br />
    <h2 style="font-family: Poppins;font-weight: 600; ">
      Persyaratan Penggunaan
    </h2>
    <p>
      <ul>
        <li>Syarat dan Ketentuan ini menetapkan syarat dan ketentuan yang berlaku untuk penggunaan Situs ini oleh Pengguna/Customer. Dengan menggunakan situs ini, Pengguna setuju untuk mematuhi semua Syarat dan Ketentuan ini. Hak untuk menggunakan Situs ini adalah Pengguna Akhir pribadi dan tidak dapat dipindahtangankan kepada orang lain atau oleh suatu badan hukum. Pengguna Akhir wajib bertanggung jawab untuk melindungi kerahasiaan kode identifikasi/pasword Pengguna Akhir (apabila ada).</li>
        <li>Apabila Anda memilih atau Anda diberi kode identifikasi pengguna, password atau bagian informasi lainnya sebagai bagian dari prosedur keamanan Kami, maka Anda wajib untuk menjaga kerahasiaan informasi tersebut dan Anda tidak boleh mengungkapkannya kepada pihak ketiga lainnya. Kami berhak mematikan fungsi kode identifikasi pengguna atau password, apakah dipilih oleh Anda atau dialokasikan oleh Kami setiap saat apabila menurut pendapat Kami, Anda tidak mematuhi salah satu Syarat dan Ketentuan ini.  </li>
        <li>Jika Pengguna gagal untuk mematuhi setiap ketentuan dalam Aturan Penggunaan di situs ini, maka kami berhak untuk mengambil tindakan yang dianggap perlu.</li>
        <li>Pengguna bertanggung jawab atas keamanan dari akun termasuk penggunaan e-mail dan password.</li>
        <li>Penggunaan fasilitas apapun yang disediakan oleh menangpolitik.id mengindikasikan bahwa Pengguna telah memahami dan menyetujui segala aturan yang diberlakukan oleh menangpolitik.id.</li>
        <li>Pengguna tidak diperbolehkan menggunakan situs ini untuk melanggar peraturan yang ditetapkan oleh hukum di Indonesia maupun di negara lainnya.</li>
        <li>Pengguna dilarang menggunakan kata-kata kasar yang tidak sesuai norma, baik saat berdiskusi di fitur kirim pesan atau chat maupun kolom diskusi.</li>
        <li>Setiap transaksi di menangpolitik.id dilakukan melalui prosedur transaksi yang telah ditetapkan oleh menangpolitik.id.</li>
      </ul>
  </p>
  <br>
  
  <h2 style="font-family: Poppins;font-weight: 600; ">
    Ketentuan Layanan
  </h2>
  <p>
    <ul>
      <li>Platform kampanye politik 2024 yang menyediakan dashboard terpadu untuk data demografi, data politik, sebaran desa, proyeksi kursi dan kampanye digital yang dapat diakses melalui halaman web www.menangpolitik.id.</li>
      <li>Uji Coba Gratis Akses sementara untuk tujuan mencoba layanan menangpolitik.id sesuai dengan paket yang dipilih tanpa membayar biaya.</li>
      <li>Pembayaran hanya dapat dilakukan melalui channel-channel pembayaran yang telah kami sediakan.</li>
      <li>Mata uang yang kami gunakan adalah dalam bentuk Rupiah (IDR).</li>
      <li>Untuk kenyamanan Anda dalam melakukan transaksi dalam Situs ini, Kami sarankan untuk senantiasa berinteraksi dengan Customer Service Kami melalui email dan whatsup terlebih dahulu bila ada hal-hal yang tidak jelas atau tidak anda mengerti.</li>
      <li>PT. Hexa Guna Sadananda berhak secara sepihak membatalkan transaksi pengguna apabila tidak sesuai dengan syarat & ketentuan yang berlaku dan/atau ditemukan adanya indikasi kecurangan/pelanggaran yang merugikan.</li>
    </ul>
  </p>
  <br>
  <h2 style="font-family: Poppins;font-weight: 600; ">
    Kebijakan Privasi
  </h2>
  <p>Kebijakan privasi yang dimaksud adalah acuan yang mengatur dan melindungi penggunaan data dan informasi penting para pengguna / customer situs www.menangpolitik.id. Data dan informasi yang telah dikumpulkan pada saat mendaftar, mengakses dan menggunakan layanan di situs ini, meliputi alamat e-mail, nomor telepon, foto, gambar, dan lain-lain.</p>
  <ul>
    <li>Semua informasi yang Kami kumpulkan, termasuk didalamnya informasi saat melakukan registrasi dan pesanan, adalah dikumpulkan dengan sah secara hukum dan telah didasarkan pada ketentuan pengumpulan data di Indonesia.</li>
    <li>Kami tidak menjual atau membagikan informasi pribadi customer termasuk email dan alamat kepada organisasi manapun untuk tujuan apapun selain untuk membantu memproses pendaftaran atau registrasi.</li>
    <li>Ketika ditemukan bukti yang cukup kuat bahwa telah terjadi kecurangan / penipuan (seperti nama dan alamat yang berbeda dengan identitas asli customer), Kami berhak untuk memberikan informasi identitas data tersebut pada pihak yang berwenang.</li>
    <li>id melindungi segala informasi yang diberikan pengguna pada saat pendaftaran, mengakses, dan menggunakan seluruh layanan.</li>
    <li>id berhak menggunakan data dan informasi para pengguna situs demi meningkatkan mutu dan pelayanan di situs ini.</li>
    <li>id tidak bertanggung jawab atas pertukaran data yang dilakukan sendiri di antara pengguna situs.</li>
    <li>Pengguna situs www.menangpolitik.id dapat berhenti berlangganan beragam informasi promo terbaru dan penawaran eksklusif (unsubscribe) jika tidak ingin menerima informasi tersebut.</li>
  </ul>  
  <br>

  <h2 style="font-family: Poppins;font-weight: 600; ">
    Penggunaan Situs
  </h2>
  <ul>
    <li>Anda menyatakan bahwa Anda menyadari dan akan mematuhi semua peraturan yang berlaku dalam Situs ini. Apabila Kami meminta Anda untuk mengisi data diri Anda, baik dalam bentuk data pribadi, maka Anda bertanggung jawab penuh atas setiap informasi yang Anda berikan kepada Kami. Bagi setiap Pengguna Akhir yang memberikan data yang tidak benar.</li>
    <li>Kami dapat sewaktu-waktu atas pengetahuan Kami untuk mencari tahu atas kebenaran dari data yang Anda berikan, dan Kami berhak untuk memberhentikan untuk sementara waktu bahkan Kami berhak untuk menghapus keanggotaan Anda untuk selamanya.</li>
  </ul>

  <br>
  <h2 style="font-family: Poppins;font-weight: 600; ">
    Pembatalan
  </h2>
  <ul>
    <li>Kami berhak untuk melakukan pembatalan atas transaksi oleh Customer apabila dianggap dalam proses transaksi tersebut terdapat kesalahan, baik kesalahan akibat kesalahan ketik atau kesalahan lain yang tidak terduga yang mengakibatkan Produk tersebut menjadi tidak akurat, maka apabila telah terjadi pembayaran oleh Customer.</li>
    <li>Kami akan mengembalikan pembayaran tersebut secara penuh dalam 2 (dua) hari kerja, yang disertai dengan Bukti transfer, dan Kami hanya akan mengembalikan pembayaran tersebut kedalam rekening yang sama dengan pada saat Anda melakukan pembayaran kepada Kami.</li>
  </ul>
  <br>

  <h2 style="font-family: Poppins;font-weight: 600; ">
    Yurisdiksi dan Hukum yang Berlaku
  </h2>
  <p>Syarat-Syarat Dan Ketentuan ini diatur menurut Hukum Republik Indonesia, dengan demikian Anda sepakat dan setuju untuk tunduk pada yurisdiksi hukum pada pengadilan di Republik Indonesia.</p>
</div>
</div>
